<h1>Featured Photos</h1>
<div fxLayoutAlign="space-around center">
  <div>
    <button type="button" (click)="featuredInput1.click()">Add photo</button>
    <input #featuredInput1 style="display:none;" type="file" (change)="featuredPhotoSelected($event, 'url1')">
    <img *ngIf="(featuredPhotoStream | async)?.url1 as url" [src]="url" alt="Featured Photo 1">
  </div>
  <hr>
  <div>
    <input type="file" (change)="featuredPhotoSelected($event, 'url2')">
    <img *ngIf="(featuredPhotoStream | async)?.url2 as url" [src]="url" alt="Featured Photo 2">
  </div>
</div>
<hr>
<h1>Photo List</h1>
<div>
  <input type="file" (change)="photoSelectedForList($event)">
  <img *ngFor="let photo of photoListStream | async" [src]="photo.url" alt="photo in the list">
</div>
<hr>